/* stili generali della pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* ------------------------- stili header ------------------------- */
header {
    display: flex;
    flex-direction: column;
}

#top-header {
    height: 50px;
    background-color: rgb(56, 189, 189);
    width: 100%;
    display: flex;
}

#box-top-header {
    height: 40px;
    margin: 5px auto;
    background-color: orange;
    width: 70%;
    display: flex;
    align-items: center;
}

#logo-discord {
    width: 20%;
}

#link-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin-left: 10px;
}

#header-button-container {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.button,#login-button {
    width: 20%;
}


#header-big-container {
    width: 100%;
    display: flex;
    height: 350px;
    background-color: rgb(26, 26, 134);
}

#header-main-section {
    background-color: rgb(242, 156, 206);
    width: 50%;
    height: 300px;
    margin: 25px auto;
}



/* --------------------------- stili main --------------------------- */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.white-box {
    min-height: 350px;
    background-color: white;
    width: 100%;
    display: flex;
}

.gray-box {
    min-height: 350px;
    background-color: rgb(195, 195, 195);
    width: 100%;
    display: flex;
}

.infobox {
    width: 70%;
    margin: 25px auto;
    background-color: red;
    display: flex;
}

.big-section {
    width: 70%;
    background-color: blue;
    display: flex;
}

.small-section {
    width: 30%;
    background-color: pink;
    display: flex;
}

#change-order {
    order: -1;
}

#bigger-section {
    background-color: green;
    width: 70%;
    margin: 25px auto;
    height: 500px;
}




/* ------------------------- stili footer ------------------------- */
footer {
    display: flex;
    flex-direction: column;
}

#top-footer {
    width: 100%;
    min-height: 300px;
    background-color: rgb(43, 43, 58);
    display: flex;
    border-bottom: 1px solid white;
}

#footer-big-section {
    display: flex;
    width: 70%;
    margin: 25px auto;
    border: 1px solid white;
}

#footer-social-section {
    display: flex;
    width: 40%;
    background-color: rgb(255, 156, 173);
}

.footer-link-column {
    display: flex;
    width: 15%;
    background-color: rgb(92, 215, 222);
    border: 1px solid white;
}

#low-footer {
    display: flex;
    width: 100%;
    background-color: rgb(43, 43, 58);
    min-height: 80px;
}

#low-footer-container {
    width: 70%;
    background-color: rgb(159, 255, 255);
    height: 60px;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

#low-footer-button {
    display: flex;
}

#registrati-button {
    background-color: #8EA1E1;
    border: 0px;
    margin: 15px;
    padding: 0 9px;
    border-radius: 50px;
    color: white;
}